<div class="pure-g">
      <div class="pure-u-1">
            <h1>EMD</h1>

            <ul>
                  <li><a href="#">skills</a></li>
                  <li><a href="#">about</a></li>
                  <li><a href="#">contact</a></li>
            </ul>
      </div>

      <div class="pure-u-1">

        <h2>kinetic typography</h2>
        <div class="kinetic">
          <a href="https://www.youtube.com/watch?v=3bocUQ3l2uw" target="_blank"><img src="http://res.cloudinary.com/dedmfazui/image/upload/v1481043741/Schermafbeelding_2016-12-05_om_18.57.36_bgnyu0.png" alt=""></a>
        </div>
        <h2>lay's animation</h2>
        <div class="animation">
          <a href="https://www.youtube.com/watch?v=036ewiOMo_g" target="_blank"><img src="http://res.cloudinary.com/dedmfazui/image/upload/v1479384212/e3b04044948163.582318b174911_tnt5b9.png" alt=""></a>
        </div>
        <h2>morph</h2>
        <div class="morph">
          <img src="http://res.cloudinary.com/dedmfazui/image/upload/v1479384209/7a503b44905677.5821e6ad9e478_gvwv0e.jpg" alt="">
        </div>
      </div>
</div>
